<form #form="ngForm" (ngSubmit)="onSubmit()">
  <mat-card class="pitalo-card">
    <mat-card-title>
      Add a Pitalo
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input disabled matInput placeholder="Select the date..." [(ngModel)]="pitalo.date" name="date" [matDatepicker]="date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" #date></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <textarea placeholder="Enter Pitalo..." rows="3" maxlength="300" matInput [(ngModel)]="pitalo.text" name="Pitalo Description"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">Save me!</button>
    </mat-card-actions>
  </mat-card>
 </form>
 <pre> {{ pitalo | json }} </pre>